[submodule "onecreditgeolocation-main/dev-frontend"]
	path = onecreditgeolocation-main/dev-frontend
	url = https://github.com/sash-firedrag/dev-frontend
[submodule "onecreditgeolocation-main/dev-backend"]
	path = onecreditgeolocation-main/dev-backend
	url = https://github.com/sash-firedrag/dev-backend
[submodule "dev-frontend"]
	path = dev-frontend
	url = https://github.com/sash-firedrag/dev-frontend
[submodule "dev-backend"]
	path = dev-backend
	url = https://github.com/sash-firedrag/dev-backend
